/* body {  background:#f87979;

/* } */

 * {
    margin: 0;
    padding: 0;
}




svg, image{
    width: 100% !important;
}


body {
    color:white;
    font-family: 'Kanit', sans-serif;
    background:#020202;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  /* #demo {
    overflow:hidden;
    position:relative;
    width:800px;
    height:410px;
    border:1px solid #333;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/32887/space-background.png); */
  
  }
  
  #title {
    position:absolute;
    top:120px;
    left:40px;
  }
  
  #freds {
    position:absolute;
    top:250px;
    left:20px;
    /* position: relative; */
    z-index: 2;
  }
  
  #freds img {
    width:122px;
  }
  
  #time {
    position:absolute;
    top:25px;
    right:0;
  }
  #animationWindow {
    position: relative;
   
    z-index: 1;
    width: 100% !important;

}

#animationWindow2 {
 width: 100%;
 height: 100%;
}